.authentication {
    .row {
        > div {
            padding: 0;
            margin: 0;
        }
    }
    .header {
        top: rem(32);
    }
    h1 {
        font-size: rem(32);
        line-height: rem(38.4);
    }
}

.auth-form {
    max-width: rem(500);
}
.auth-section {
    padding: rem(32 64);
}

