.form-head {
    margin-bottom: rem(48);
    p {
        color: $dark-200;
        margin: 0;
    }
}

form {
    button {
        margin-top: rem(16);
    }
}

.form-control {
    &.is-invalid {
        background-image: none;
        box-shadow: none;
        &:focus {
            box-shadow: none;
            border-color: $error;
        }
    }
}
