.form-head {
    margin-bottom: rem(48);
    p {
        color: $dark-200;
        margin: 0;
    }
}


form {
    button {
        margin-top: rem(16);
    }
}

.form-control {
    &.is-invalid {
        background-image: none;
        box-shadow: none;
        &:focus {
            box-shadow: none;
            border-color: $error;
        }
    }
}
.security-verification-code input{
    border: rem(1) solid $secondary;
    height: rem(50);
    width: rem(50);
    line-height: rem(50);
    text-align: center;
    margin-right: rem(5);
    border-radius: rem(3);
    background: $light-200;
}