.head-one {
  font-size: rem(32);
  line-height: 120%;
  font-weight: $bold;
}

.head-two {
  font-size: rem(24);
  line-height: 120%;
  font-weight: $bold;
}

.head-three {
  font-size: rem(18);
  line-height: 160%;
  font-weight: $bold;
}

.body-base {
  font-size: rem(16);
  line-height: 160%;
  font-weight: $regular;
}

.body-font {
  @extend .body-base;
  font-weight: $semi-bold;
}

.bold {
  font-weight: $bold;
}

.height-full {
  height: 100vh;
}
.display-ib {
  display: inline-block;
}
