$bold: 700;
$semi-bold: 600;
$light-bold: 500;
$regular: 400;

$primaryfont: "Rubik";
$secondaryfont: "Roboto";

.primary-font {
  font-family: $primaryfont;
  font-weight: $light-bold;
}
.secondary-font {
  font-family: $secondaryfont;
  font-weight: $regular;
}
.regular-font {
  font-family: $primaryfont;
  font-weight: $regular;
}
